html, body {
  margin: 0;
  background-color: #94ee9b;
}
canvas {
  margin: auto;
  padding-top: 3rem;
  display: block;
  margin: 100px auto 0; /* centers horizontally and adds 40px margin on top */
}

@media (max-width: 1900px) {
  canvas {
    margin-top: 10px;
  }
}

/* Navigation Bar */
nav {
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 3rem;
  background-color: darkgreen;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
}

nav a{
  margin: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 800;
  color: #caf0a7;
}

nav  a:hover {
  color: #93c5fd;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
 body {
  scale: 0.8;
 }
}